<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key><string>dev.surechigai.cli</string>
    <key>CFBundleName</key><string>surechigai</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>近くの端末とBLEでメッセージを交換するためにBluetoothを使用します。</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>近くの端末からのBLE接続を待ち受けます。</string>
</dict>
</plist>
